@font-face {
    font-family: "Spartan - Regular";
    src: url(../../assets/fonts/Spartan-Regular.ttf);
}
@font-face {
    font-family: "Spartan - Light";
    src: url(../../assets/fonts/Spartan-Light.ttf);
}
@font-face {
    font-family: "Spartan - Semi Bold";
    src: url(../../assets/fonts/Spartan-SemiBold.ttf);
}
@font-face {
    font-family: "Spartan - Bold";
    src: url(../../assets/fonts/Spartan-Bold.ttf);
}
